<footer class="footer">
  <div class="container">
    <div class="row" style="text-align: left">
      <div class="col-md-4">
        <p style="font-weight: bold;">YouTube Center</p>
        <p>© 2015 Jeppe Rune Mortensen</p>
      </div>
      <div class="col-md-4">
        This website is still under construction and everything may be subject to change.
      </div>
      <div class="col-md-4" style="text-align: right">
        <h4>Contribute</h4>
        <div><a href="https://crowdin.com/project/youtube-center">Translate</a></div>
        <div><a href="javascript:void(0);">Donate</a></div>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>